@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");
body {
  margin: 0px;
  padding: 0px;
  background: url("../Images/roble cava textura.jpg") no-repeat center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box; }

.fondo {
  position: absolute;
  z-index: 5px;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0.7; }

.gallery img {
  max-width: 20%;
  max-height: 20%;
  padding-left: 1%;
  margin-bottom: 20px;
  margin-top: 20px;
  float: right; }

.gallery:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
  animation-name: aumento;
  animation-duration: 2s;
  overflow: hidden; }

header {
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 2px 1px 4px #838181;
  z-index: 100;
  margin-bottom: 10%;
  height: 5rem; }

/*---------------IMAGENES DE LAS OBRAS REALIZADAS-------------*/
.obras-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; }

.obras-image article {
  display: flex;
  flex-direction: column;
  align-items: center; }

.obras-image article img {
  border-radius: 3px;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 600px;
  max-height: 600px;
  margin: 5px;
  object-fit: cover; }

.obras-image article:hover .desc-obra {
  transition: all 0.5s ease-in-out;
  opacity: 1; }

.desc-obra {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  background-color: #3b3b3b;
  background-color: rgba(59, 59, 59, 0.5);
  color: white;
  opacity: 0;
  position: relative;
  bottom: 29px;
  width: 96%; }

@keyframes aumento {
  from {
    max-width: 20%; }
  to {
    max-width: 40%; } }

/*-------------------------------INICIO BARRA DE NAVEGACION------------------------------------------------*/
header nav {
  display: flex;
  flex-direction: row;
  height: 100%; }
  header nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center; }
    header nav .logo h1 {
      font-size: 27px; }

.divisor {
  border-right: 1px solid #afafaf; }

.elements li {
  padding: 0 10px 0 10px; }
  .elements li a {
    font-weight: bold;
    font-size: 17px;
    color: #474747 !important;
    text-decoration: none;
    background-image: linear-gradient(red, red);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s; }
  .elements li a:hover {
    background-size: 100% 2px; }
  .elements li a:focus {
    background-size: 100% 2px; }

/*-------------------------------FIN BARRA DE NAVEGACION------------------------------------------------*/
/*-------------------SECTION OBRAS-----------------*/
.obras {
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 6rem; }
  .obras h3 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center; }

.obras-image article {
  max-width: 100%; }

.obras nav {
  max-width: 100% !important; }
  .obras nav ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 3%;
    font-weight: bold; }
    .obras nav ul p {
      font-size: 20px !important;
      margin: 0 5px 0 5px; }
    .obras nav ul a li {
      color: #3f3f3f;
      font-size: 18px; }

@media (max-width: 1400px) {
  .backgroundForm {
    height: 80vh !important; }
    .backgroundForm h2 {
      font-size: 90px !important; }
    .backgroundForm p {
      font-size: 24px !important; }
  .contactForm form {
    width: 100% !important; }
  .contactForm div {
    width: 100%;
    margin-left: 0 !important;
    margin-top: 3rem; }
    .contactForm div iframe {
      width: 100% !important;
      height: auto; } }

@media (max-width: 1000px) {
  .obras-image article img {
    flex-direction: column; }
  .lista {
    display: none; }
  .cuadro2 ul li h2 {
    font-size: 20px; }
  .cuadro2 ul li h2 span {
    font-size: 40px; } }

@media (max-width: 992px) {
  .facebook img, .instagram img {
    border-radius: 25%; }
  .divisor {
    border-right: none; }
  .burger-open {
    border: 2px solid #856f61;
    margin-top: 3rem;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5); }
  .elements {
    max-width: 10rem;
    margin-left: 2rem; }
    .elements li a {
      font-weight: bold;
      color: black; } }

@media (max-width: 800px) {
  .obras nav ul p {
    font-size: 15px !important;
    max-width: 70%; }
  footer div {
    flex-wrap: wrap !important; }
  .obras-image article img {
    max-width: 400px;
    max-height: 400px; }
  .cuadro1 {
    padding: 3rem 0 3rem 0 !important; }
  .cuadro1 h1, .cuadro2 h1 {
    font-size: 30px; }
  .cuadro2 span {
    font-size: 15px; }
  .flexslider, .cuadro1, .cuadro2 {
    margin-bottom: 50%; } }

@media (max-width: 650px) {
  .backgroundForm {
    height: 90vh !important; }
    .backgroundForm h2 {
      font-size: 50px !important; }
    .backgroundForm p {
      font-size: 20px !important; }
  .cuadro2 {
    padding: 3rem 0 3rem 0; }
    .cuadro2 ul {
      flex-direction: column !important; }
      .cuadro2 ul li {
        width: 70% !important; }
        .cuadro2 ul li h2 {
          font-size: 17px; }
  .obras-image article img {
    max-width: 300px;
    max-height: 300px; }
  .imagen img {
    width: 50px;
    height: 60px;
    margin-right: 20px; }
  .imagen {
    position: relative;
    right: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center; } }

@media (max-width: 600px) {
  .cuadro1 p {
    font-size: 15px !important; }
  .cuadro2 ul {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .cuadro2 ul li {
      margin-bottom: 20px; }
      .cuadro2 ul li h3 {
        font-size: 20px; }
        .cuadro2 ul li h3 span {
          font-size: 30px !important; } }

/*-------------------------------cuadros de texto------------------------------------------------*/
.cuadro1,
.cuadro2 {
  background-color: snow; }

.cuadro1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%; }
  .cuadro1 p {
    width: 80%;
    margin-bottom: 3%;
    font-size: 20px; }
  .cuadro1 h2 {
    margin-top: 4%;
    margin-bottom: 4%; }

.cuadro2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%; }
  .cuadro2 ul {
    display: flex;
    align-items: top;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .cuadro2 ul li {
      text-align: left;
      margin: 2%;
      width: 25%; }
      .cuadro2 ul li h3 span {
        font-size: 50px;
        color: #da5050;
        margin-right: 10px; }
      .cuadro2 ul li ul {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .cuadro2 ul li ul li {
          text-align: left;
          width: 90%; }
  .cuadro2 h3 {
    margin-top: 4%;
    margin-bottom: 4%; }

.separator {
  /*SEPARA AL HEADER DEL SLIDER*/
  width: 100%;
  height: 1px; }

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 2px solid red;
  background-color: black;
  color: white; }
  footer div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; }
    footer div div {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 86%; }
      footer div div h3 {
        align-self: center; }
      footer div div span {
        text-align: center !important;
        padding: 0.4rem;
        align-self: center; }
        footer div div span img {
          width: 1.3rem;
          margin-right: 1rem; }

.galleryTwo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .galleryTwo article {
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: center;
    max-width: 35rem;
    overflow: hidden;
    padding: 1rem;
    background: white; }
    .galleryTwo article div {
      box-shadow: 0px 0px 20px #585858;
      max-width: 100%;
      max-height: 90%;
      border-radius: 3%; }

#1c {
  box-shadow: 0px 0px 20px #585858;
  width: 900px !important;
  height: 900px !important;
  background-image: url(../Images/1c.jpg); }

#2c {
  box-shadow: 0px 0px 20px #585858;
  width: 900px !important;
  height: 900px !important;
  background-image: url(../Images/2c.jpg); }

#3c {
  box-shadow: 0px 0px 20px #585858;
  width: 900px !important;
  height: 900px !important;
  background-image: url(../Images/3c.jpg); }

.backgroundForm {
  background-image: url(../Images/Obras_comprimidas/image-form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rajdhani', sans-serif;
  height: 60vh;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .backgroundForm h2 {
    font-size: 120px;
    font-weight: bold;
    color: white;
    font-weight: initial;
    text-shadow: 1px 1px 1px black; }
  .backgroundForm P {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black; }

.contactForm {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  background-color: white;
  height: auto;
  flex-wrap: wrap; }
  .contactForm form {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Rajdhani', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px; }
    .contactForm form input {
      height: 2.4rem;
      border: 1px solid #c8c8c8;
      border-radius: 5px; }
    .contactForm form textArea {
      border: 1px solid #c8c8c8; }
    .contactForm form #sub {
      display: flex;
      width: auto;
      height: auto;
      align-self: center;
      margin-top: 1rem;
      padding: 1rem !important;
      border-radius: 3%; }
      .contactForm form #sub:hover {
        background-color: #b6e784;
        font-weight: bold; }
    .contactForm form #msgEnviado {
      position: relative;
      left: 31rem;
      bottom: 3rem;
      padding: 6px;
      border: 2px solid #afff9b;
      background-color: #bffaba;
      max-width: 120px;
      text-align: center;
      border-radius: 5px;
      display: none; }
  .contactForm div {
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem; }
    .contactForm div .network {
      display: flex;
      justify-content: center;
      margin-bottom: 5rem; }
      .contactForm div .network h3 {
        width: 100%;
        text-align: center; }
      .contactForm div .network .info-icons {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap; }
        .contactForm div .network .info-icons span {
          display: flex;
          flex-direction: row;
          align-items: center; }
    .contactForm div iframe {
      width: 700px;
      height: 250px; }
