footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 2px solid red;
    background-color: black;
    color: white;
    
    
    div{
        
        display: flex;
        justify-content:center;
        flex-direction: row;
        flex-wrap: nowrap;

        div{
            h3{
                align-self: center;
            }
            width: 33%;
            display: flex;
            flex-direction: column;

           
                span{
                    text-align: center !important;
                    padding: 0.4rem;
                    img{
                        width: 1.3rem;
                        margin-right: 1rem;
                    }
                    align-self: center;
                }
                align-self: center;
                width: 86%;
            
        }

    }

}