.gallery{

  img {
    max-width: 20%;
    max-height: 20%;
    padding-left: 1%;
    margin-bottom: 20px;
    margin-top: 20px;
    float: right;
  }
  
} 

  .gallery:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
    animation-name: aumento;
    animation-duration: 2s;
    overflow: hidden;
  }