.galleryTwo{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    

    article{
        border-radius: 3%;
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
        justify-content: center;
        max-width: 35rem;

        div{
            box-shadow: 0px 0px 20px rgb(88, 88, 88);
            max-width: 100%;
            max-height: 90%;
            border-radius: 3%;
        }
        
        overflow: hidden;
        padding: 1rem;
        background: white;
    }
}


@each $image in 1c, 2c, 3c {

    ##{$image}{
        box-shadow: 0px 0px 20px rgb(88, 88, 88);
        width: 900px !important;
        height: 900px !important;
        background-image: url(../Images/#{$image}.jpg);
    }
    
}