/*-------------------SECTION OBRAS-----------------*/

.obras {
    background-color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 6rem;

    h3 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }
  }
  
 
  .obras-image{
    article{
      max-width: 100%;
    }
  }
  
  .obras {
    nav{
      max-width: 100% !important;
      ul{
        
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-bottom: 3%;
        font-weight: bold;

        p {
             font-size: 20px !important;
             margin: 0 5px 0 5px;
        }

        a{
            li {
            color: rgb(63, 63, 63);
            font-size: 18px;
          }
        } 
  
      }
      }

  }
 
      
      
  
  
 